.App {
  text-align: center;
  background-color: #2f3c7e;
  color: #fbeaeb;
  min-height: 100vh; 
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.link-like-blue-div {
  color: rgb(0, 132, 255);
}

.flex-it {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-bottom: 15px; 
}

.row {
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px 30px; 
}

.bottom-margin {
  margin-bottom: 15px; 
}

input, button, textarea {
  background-color: rgb(34, 34, 34);
  color: #fbeaeb;
  border: 2px solid #505050;
}

input, textarea {
  width: 200px;
}

.plain-text {
  color: #fbeaeb;
}

nav {
  /* background: #202955; */
}

.zOne {
  z-index: 1;
}

textarea {
  height: 52px; 
  border-radius: 6px;
}

button {
  width: 80px; 
  height: 26px; 
  border-radius: 8px; 
}

.post-template-button-row {
  display: flex; 
  justify-content: space-between;
  width: 210px; 
}

.post-button {
  float: right; 
  margin-top: 35px; 
}

.profile-pic {
  /* background-color: gray;  */
  width: 60px; 
  height: 60px; 
  border-radius: 50%;
}

.landing-component-budr-logo {
  padding-left: 2%;
}

@media(max-width: 450px){
  .mobile-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .landing-component-budr-logo {
    padding-left: 4%; ;
  }
}