/* .hamburger-menu {
    display: none; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
    height: 35px;
    width: 50px;
    border-radius: 5px;
} 

.hide-dropdown {
    display: none;
}

.right-hamburger {
    margin-left: 20px; 
    margin-top: 20px; 
}

.show-left-dropdown {
}

.show-right-dropdown {
}

@media (max-width: 450px) {
    .hamburger-menu {
        display: flex;
    }
} */




.navbar-icon {
    background: #263169;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: rgba(22, 22, 22, 0.5);
    font-size: 20px;
    height: 35px;
    width: 50px;
    border-radius: 5px;
}

.navbar-menu {
    display: flex; 
    flex-direction: row;
}

.navbar-buttons {
    margin: 0 15px; 
}

.menu {
    background: #263169; 
    padding: 30px 15px 0 15px; 
    height: 10vh;
    width: 70px;
    position: fixed;
    top: 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.left-menu {
    left: -110px;
}

.right-menu {
    right: -110px; 
}

.left-slide {
    left: 0px; 
}

.right-slide {
    right: 0px;
}

@media (max-width: 1024px) {
    
    .navbar-buttons {
        display: none;
    }

    .navbar-icon {
        display: flex;
    }

    .navbar-menu {
        display: none;
    }

}